.idea/
.vscode/
*.exe
*.sh
*.gz
*.zip
*.pcap
*.gob
*.ppdb
*.syso
*.old
*.ps1
scripts/albiondata-client
WBG-albion-data-client
WBG-albion-data-client.exe.ppdb
albiondata-client-output.txt
config.yaml
.secrets
.DS_Store
act.sh
build.sh
build-update.sh
albiondata-client*
buildall.sh

run.sh
*.log
*.log.*
# Документация
README.md
lib/README.md
_config.yml
LICENSE.txt
